@tailwind base;
@tailwind components;
@tailwind utilities;

#dropdownNavbarLink:hover .subcategories{
    width: 100%;
    height: auto;
}


.categories li{
   
    font-size: 19px;
}

.subcategories li{
    font-size: 13px;
    
}

